/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 30%;
  }

.spliter {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: space-around;
}
